<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bizpoll.may.mapper.indexMapper">

	<select id="bestView" resultType="com.bizpoll.may.dto.ProductDTO">
 	<![CDATA[
	  	SELECT * FROM (SELECT * FROM Mayproduct ORDER BY p_good DESC)
		WHERE ROWNUM <=5
	]]>
	</select>
	<select id="newView" resultType="com.bizpoll.may.dto.ProductDTO">
  	<![CDATA[
  		SELECT * FROM (SELECT * FROM Mayproduct ORDER BY p_indate DESC)
		WHERE ROWNUM <=5
 	 ]]>
	</select>


</mapper>