<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bizpoll.may.mapper.memberMapper">
	
	<select id="login" parameterType="com.bizpoll.may.dto.MayMemberDTO" resultType="com.bizpoll.may.dto.MayMemberDTO">
  		SELECT * FROM maymember
		WHERE id=#{id} AND pw=#{pw}
  	</select>
  
  
  	<select id="idCheck" parameterType="String" resultType="String"> 
		SELECT * FROM maymember
	 	WHERE id= #{id}
	</select>
	
	<insert id="PlayInsert" parameterType="com.bizpoll.may.dto.MayMemberDTO">
		INSERT INTO maymember(id, pw, name, phone, email)
		VALUES(#{id}, #{pw}, #{name}, #{phone}, #{email})
	</insert>
	
	
	<update id="mypage" parameterType="com.bizpoll.may.dto.MayMemberDTO" >
		UPDATE maymember SET
		name=#{name},
		phone=#{phone},
		email=#{email} 
		WHERE id=#{id}
	</update>
	
	
	
	<update id="pwupdate" parameterType="com.bizpoll.may.dto.MayMemberDTO">
		UPDATE maymember SET
		pw = #{pw}
		WHERE id = #{id}
	</update>
	
	
	
	
	<select id="pwCheck" parameterType="com.bizpoll.may.dto.MayMemberDTO" resultType="String">
		SELECT id FROM maymember 
	 	WHERE pw= #{pw} AND id= #{id}
	</select>
	
	<delete id="delete" parameterType="String">
		DELETE FROM maymember
		WHERE pw= #{pw} AND id= #{id}
	</delete>
	
	
	
</mapper>